.userHeader{

    display: flex;
    flex-direction: column;
    background-color: #ededed;
    height: 135px;

    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:7px 15px;
    }

    .search_from_list{

        padding: 10px;
        box-sizing: border-box;
    
        label{
            
            
            width: 100%;

            .list_search_container{
                width: 100%;
                background-color: #ffffff;
                border-radius: 40px;
                display: flex;
                align-items: center;
                overflow: hidden;
                padding: 0 10px;
                box-sizing: border-box;
                color:#ada6a6;

                input{
                    width: 100%;
                    padding: 10px;
                    outline-width: 0;
                    border: 0;
                    color:#ada6a6;
                }

            }

        }
    }





}